<h1>Order Papers</h1>

<form action="<%= url_for(search_index_path) %>" data-automation-context="Oral paper items search">
	<fieldset>
		<legend>Order paper search</legend>
		<input type="hidden" name="filters[parl:OrderPaperItem]" value="on">
		<input name="q">
		<button>Search</button>
	</fieldset>
</form>

<ul>
	<% @order_papers.each do |order_paper| %>
		<li>
			<%= link_to order_paper_business_items_path(order_paper[:id]) do %>
				<%= order_paper[:date].strftime("%d/%m/%Y") %> (<%= order_paper[:items_count] %>, of which <%= order_paper[:indexed_items_count] %> indexed)
				<% if order_paper[:items_count] == order_paper[:indexed_items_count] %>
					- all items indexed for this date
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>