<img src="<%= @person.image.to_s %>" align='right'>
<h1><%= @person.name %></h1>

<%= link_to person_oral_questions_path(@person.id) do %>
	<h2>Oral questions</h2>
<% end %>

<%= link_to person_written_questions_path(@person.id) do %>
	<h2>Written questions</h2>
<% end %>

<%= link_to person_votes_path(@person.id) do %>
	<h2>Votes</h2>
<% end %>