<h1><%= @person[:name] %></h1>
<dl>
	<dt>House</dt>
	<dd><%= link_to house_path(@person[:house][:id]) do %>
			<%= @person[:house][:label] %>
		<% end %>
	</dd>
  <% if(@person[:constituency][:id] != nil) %>
    <dt>Constituency</dt>
    <dd><%= link_to constituency_path(@person[:constituency][:id]) do %>
          <%= @person[:constituency][:label] %>
      <% end %>
    </dd>
  <% end %>
</dl>
<ul>
	<li>
		<%= link_to person_oral_questions_path(@person[:id]) do %>
        Oral questions (<%= @person[:oral_question_count] %>)
		<% end %>
	</li>
	<li>
		<%= link_to person_written_questions_path(@person[:id]) do %>
        Written questions (<%= @person[:written_question_count] %>)
		<% end %>
	</li>
  <li>
    <%= link_to person_written_answers_path(@person[:id]) do %>
        Written answers (<%= @person[:written_answer_count] %>)
    <% end %>
  </li>
	<li>
		<%= link_to person_votes_path(@person[:id]) do %>
			Votes (<%= @person[:vote_count] %>)
		<% end %>
	</li>
  <li>
    <%= link_to person_committees_path(@person[:id]) do %>
        Committees (<%= @person[:membership_count] %>)
    <% end %>
  </li>
</ul>
