<input id="filter1" name="filters[parl:Division]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:Division"] == "on" %>>
<label for="filter1">filter1</label>
<input id="filter2" name="filters[parl:OralParliamentaryQuestion]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:OralParliamentaryQuestion"] == "on" %>>
<label for="filter2">filter2</label>

<h1>Search results</h1>


<ul>
	<% @results.each do |result| %>
		<li>
			<strong>
				<%= result[:friendly_type]%>:
			</strong>
			<%= link_to controller:"#{result[:controller]}", action: "show", id: result[:id] do %>
				<%= truncate(strip_tags(result[:text]), length: 120) %>
			<% end %>
			<% if result[:controller] == "people" %>
				- <%= link_to "Written questions", person_written_questions_path(result[:id]) %>
				- <%= link_to "Oral questions", person_oral_questions_path(result[:id]) %>
				- <%= link_to "Voting record", person_votes_path(result[:id]) %>
				- <%= link_to "Committees", person_committees_path(result[:id]) %>
			<% end %>
			<% if result[:controller] == "divisions" %>
				- <%= link_to "Votes", division_votes_path(result[:id]) %>
			<% end %>
		</li>
	<% end %>
</ul>