<h1>Search results</h1>

<ul class="search-result-list">
	<% @results.each do |result| %>
		<li>
			<strong>
				<%= result[:friendly_type]%>:
			</strong>
      <% if result[:controller] == "business_items" %>
        <%= link_to controller:"#{result[:controller]}", action: "show", order_paper_id: result[:date], id: result[:id] do %>
          <%= strip_tags(result[:text]) %>
        <% end %>
      <% else %>
        <%= link_to controller:"#{result[:controller]}", action: "show", id: result[:id] do %>
          <%= strip_tags(result[:text]) %>
        <% end %>
      <% end %>


        <ul class="contextual-link-list">
          <% if result[:controller] == "people" %>
            <li> <%= link_to "Written questions", person_written_questions_path(result[:id]) %> </li>
            <li> <%= link_to "Oral questions", person_oral_questions_path(result[:id]) %> </li>
            <li> <%= link_to "Voting record", person_votes_path(result[:id]) %> </li>
            <li> <%= link_to "Committees", person_committees_path(result[:id]) %> </li>
          <% end %>
          <% if result[:controller] == "divisions" %>
            <li> <%= link_to "Votes", division_votes_path(result[:id]) %> </li>
          <% end %>
          <% if result[:controller] == "concepts" %>
            <li> <%= link_to "Written questions", concept_written_questions_path(result[:id]) %> </li>
            <li> <%= link_to "Oral questions", concept_oral_questions_path(result[:id]) %> </li>
            <li> <%= link_to "Divisions", concept_divisions_path(result[:id]) %> </li>
			<% end %>
        </ul>
		</li>
	<% end %>
</ul>