<h1><%= @house.label %></h1>

<%= link_to house_oral_questions_path(@house.id) do %>
	<h2>Oral questions by <%= @house.label %></h2>
<% end %>

<%= link_to house_written_questions_path(@house.id) do %>
	<h2>Written questions by <%= @house.label %></h2>
<% end %>

<%= link_to house_divisions_path(@house.id) do %>
	<h2>Divisions by <%= @house.label %></h2>
<% end %>