<%= render "order_paper_item_info" %>

<%= form_tag(method: :post) do %>
	<%= label_tag(:concept, "Concept") %>
	<%= select_tag(:concept, options_for_select(@concepts)) %>
	
	<%= submit_tag("add") %>

	<% unless @order_paper_item[:concepts].empty? %>
		<p>Concepts linked to this item</p>
		<ul>
			<% @order_paper_item[:concepts].each do |concept| %>
				<li>
					<input type="checkbox" name="linked_concepts[]" value="<%= concept[:id] %>"/>
					<label><%= concept[:label] %></label>
				</li>
			<% end %>
		</ul>
		<button name="remove">remove</button>
	<% end %>

<% end %>

<%= link_to order_paper_item_path(@order_paper_item[:id]) do %>
	Back to order paper item
<% end %>


