<h1><%= @order_paper_item[:title] %></h1>

<%= form_tag(method: :post) do %>
	<%= label_tag(:concept, "Concept") %>
	<%= select_tag(:concept, options_for_select(@concepts)) %>
	
	<%= submit_tag("add") %>

	<ul>
		<% @order_paper_item[:concepts].each do |concept| %>
			<li>
				<span><%= concept[:label] %></span>
				<button name="remove" value="<%= concept[:id]%>">remove</button>
			</li>
		<% end %>
	</ul>

<% end %>

<%= link_to order_paper_item_path(@order_paper_item[:id]) do %>
	Back to order paper item
<% end %>


