<%= render "order_paper_item_details" %>

<%= form_tag(method: :post) do %>
	<label>
		Edit title: 
		<%= hidden_field_tag 'current_title', @order_paper_item[:title] %>
		<%= text_field_tag 'new_title', @order_paper_item[:title] %>
	</label>
	<br>
	<label>
		Enter a business item type: 
		<%= hidden_field_tag 'current_business_item_type', @business_item_type %>
		<%= text_field_tag 'new_business_item_type', @business_item_type %>
	</label>
	<br>
	<% unless @order_paper_item[:person][:id].nil?  %>
		<label>
			Enter a role for the member:
			<%= hidden_field_tag 'current_member_role', @member_role %>
			<%= text_field_tag 'new_member_role', @member_role %>
		</label>
	<% end %>
	<br>
	<%= render "shared/index_junk_checkboxes" %>
	<button name="update">update</button>
	<br>
	<br>

	<%= render "shared/add_remove_concepts" %>

<% end %>

<%= link_to order_paper_item_path(@order_paper_item[:id]) do %>
	Back to order paper item
<% end %>


