<h1>Order Paper Item Detail</h1>
<h3><%= link_to "Edit", order_paper_item_edit_path(@order_paper_item[:id]) %></h3>

<dl>
	<dt>Title</dt>
	<dd>
		<%= @order_paper_item[:title] %>
	</dd>
	<dt>Order Paper</dt>
	<dd>
		<%= link_to "#{@order_paper_item[:date].strftime("%d %B %Y")}", order_paper_business_items_path(@order_paper_item[:date].strftime("%F")) %>
	</dd>
	<% if @order_paper_item[:abstract] != "" %> 
		<dt>Abstract</dt>
			<dd>
				<%= strip_tags(@order_paper_item[:abstract]) %>
			</dd>
	<% end %>

	<% unless @order_paper_item[:person][:id].nil? %> 
		<dt>Member</dt>
			<dd>
				<%= link_to person_path(@order_paper_item[:person][:id]) do %>
					<%= @order_paper_item[:person][:name] %>
				<% end %>
			</dd>
	<% end %>
</dl>

<% unless @order_paper_item[:concepts].empty? %>
	<p>Concepts linked to this order paper item</p>
	<ul>
		<% @order_paper_item[:concepts].each do |concept| %>
			<li>
				<%= link_to "#{concept[:label]}", concept_path(concept[:id]) %>
			</li>
		<% end %>
	</ul>
<% end %>

<% unless @order_paper_item[:previousItemId].nil? %>
	<%= link_to "Previous Item", order_paper_item_path(@order_paper_item[:previousItemId]) %>
<% end %>

