<h1>Order Paper <%= @business_item[:date].strftime("%d %B %Y") %> Business Item</h1>

<h3><%= link_to "#{@business_item[:date].strftime("%d %B %Y")} order papers", order_paper_business_items_path(@business_item[:date].strftime("%F")) %></h3>

<h3><%= link_to "Edit", order_paper_business_item_edit_path(@business_item[:date].strftime("%F"), @business_item[:id]) %></h3>

<dl>
	<dt>Title</dt>
	<dd>
		<%= @business_item[:title] %>
	</dd>
	<% if @business_item[:abstract] != "" %> 
		<dt>Abstract</dt>
			<dd>
				<%= strip_tags(@business_item[:abstract]) %>
			</dd>
	<% end %>

	<% unless @business_item[:person][:id].nil? %> 
		<dt>Member</dt>
			<dd>
				<%= link_to person_path(@business_item[:person][:id]) do %>
					<%= @business_item[:person][:name] %>
				<% end %>
			</dd>
	<% end %>
</dl>

<% unless @business_item[:concepts].empty? %>
	<p>Concepts linked to this business item</p>
	<ul>
		<% @business_item[:concepts].each do |concept| %>
			<li>
				<%= link_to "#{concept[:label]}", concept_path(concept[:id]) %>
			</li>
		<% end %>
	</ul>
<% end %>

<% unless @business_item[:previousItemId].nil? %>
	<%= link_to "Previous Item", order_paper_business_item_path(@business_item[:date].strftime("%F"), @business_item[:previousItemId]) %>
<% end %>

