<h1>Committees</h1>

<form action="<%= url_for(search_index_path) %>" data-automation-context="Committee search">
	<fieldset>
		<legend>Committee search</legend>
		<input type="hidden" name="filters[parl:Committee]" value="on">
		<input name="q">
		<button>Search</button>
	</fieldset>
</form>

<h3>
	<%= link_to "Sort in order", committees_path %>
</h3>
<h3>
	<%= link_to "Sort indexed items", committees_path(:sort => "indexed") %>	
</h3>

<ul>
	<% @committees.each do |committee| %>
		<li>
			<%= link_to committee_path(committee[:id]) do %>
				<%= committee[:name] %>
			<% end %>
			<% if committee[:index_label] == "indexed" %>
					- Indexed
				<% else %>
					- Requires indexing
				<% end %>
				<% if committee[:junk_label] == "junk" %>
					- Marked as "junk"
			<% end %>
		</li>
	<% end %>
</ul>