<h1>Data-Driven</h1>

<ul>
	<li>
		<%= link_to houses_path do %>
			Houses
		<% end %>
	</li>
	<li>
		<%= link_to concepts_path do %>
			Concepts
		<% end %>
	</li>
	<li>
		<%= link_to oral_questions_path do %>
			Oral Questions
		<% end %>
	</li>
	<li>
		<%= link_to written_questions_path do %>
			Written Questions
		<% end %>
	</li>
	<li>
		<%= link_to divisions_path do %>
			Divisions
		<% end %>
	</li>
	<li>
		<%= link_to people_path do %>
			People
		<% end %>
	</li>
	<li>
		<%= link_to committees_path do %>
			Committees
		<% end %>
	</li>	
</ul>

