<!DOCTYPE html>
<html>
<head>
  <title>Data Driven Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link type="text/plain" rel="author" href="humans.txt" />
  <link rel="alternate" type="application/json" href="<%= url_for(:format => :json, :params => params) %>" title="JSON alternate for this page"/>
  <link rel="alternate" type="text/xml" href="<%= url_for(:format => :xml, :params => params) %>" title="XML alternate for this page"/>
  <link rel="alternate" type="application/n-triples" href="<%= url_for(:format => :rdf, :params => params) %>" title="RDF alternate for this page"/>
</head>
<body>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-78820993-1', 'auto');
	  ga('send', 'pageview');

	</script>
  <script type="application/ld+json">
    <%= raw(@json_ld) %>
  </script>


  <%= link_to root_path do %>
		Home
	<% end %>

	<fieldset style="position: absolute; right: 0; border: 5px solid; padding: 3px; background-color: white">
		<legend>Download</legend>
		<ul>
			<li>
				<a href="<%= url_for(:format => :json, :params => params) %>">json</a>
			</li>
			<li>
				<a href="<%= url_for(:format => :xml, :params => params) %>">xml</a>
			</li>
			<li>
				<a href="<%= url_for(:format => :rdf, :params => params) %>">rdf</a>
			</li>
		</ul>
	</fieldset>

	<form action="/search">
		<fieldset>
			<legend>Site-wide full-text search</legend>
			<input type="text" name="q" value="<%= params[:q] %>">
			<button type="submit">Search</button>
			<% if current_page?(search_index_path) %>
				<input id="Concepts" name="filters[skos:Concept]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["skos:Concept"] == "on" %>>
				<label for="Concepts">Concepts</label>
				<input id="Divisions" name="filters[parl:Division]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:Division"] == "on" %>>
				<label for="Divisions">Divisions</label>
				<input id="Oral Questions" name="filters[parl:OralParliamentaryQuestion]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:OralParliamentaryQuestion"] == "on" %>>
				<label for="Oral Questions">Oral Questions</label>
				<input id="Written Questions" name="filters[parl:WrittenParliamentaryQuestion]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:WrittenParliamentaryQuestion"] == "on" %>>
				<label for="Written Questions">Written Questions</label>
				<input id="Written Answers" name="filters[parl:WrittenParliamentaryAnswer]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:WrittenParliamentaryAnswer"] == "on" %>>
				<label for="Written Answers">Written Answers</label>
				<input id="Committees" name="filters[parl:Committee]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["parl:Committee"] == "on" %>>
				<label for="Committees">Committees</label>
				<input id="People" name="filters[schema:Person]" type="checkbox" <%= "checked" if params[:filters] && params[:filters]["schema:Person"] == "on" %>>
				<label for="People">People</label>
			<% end %>
		</fieldset>
	</form>

	<%= yield %>

</body>
</html>
